.cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 60px;
}

.card {
    position: relative;
    height: 326px;
    width: 260px;    
    transition: all .3s;
}

.card-front:hover {
    transform: scale(0.95);
    cursor: pointer;
}

.card-img {
    border-radius: 5px;
}

.card-text {
    padding-top: 15px;
    font-family: 'Ditty';
    font-size: 30px;
    color: #403535;
}

.card-front,
.card-back {
    position: absolute;
    box-shadow: 0 25px 50px rgba(0,0,0,0.55);
}

.card-front {
    background: linear-gradient(170deg, rgb(255,236,207) 0%, #d2c4ae 100%);
    border-radius: 5px;
    padding: 30px;
    transition: transform 0.5s;
    backface-visibility: hidden;
    z-index: 1;
}

.card-back {
    background: linear-gradient(rgba(41, 64, 35,.25), rgba(41, 64, 35,.25)), url("../assets/card-back.jpg");
    background-repeat: no-repeat;
    background-position: 0% 25%;
    background-size: cover;
    height: 316px;
    width: 250px;
    border: 5px solid black;
    transform: rotateY(180deg);
    transition: transform 0.5s;
    backface-visibility: hidden;
    cursor: wait;
}

.flipped .card-front {
    transform: rotateY(180deg);
}

.flipped .card-back {
    transform: rotateY(360deg);
    backface-visibility: visible;
}