.header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    gap: 60px;
    margin-bottom: 60px;
}

.header-left {    
    height: 90px;
    text-align: left;
    margin-left: 15px;
}

.heading {
    font-family: 'Ditty';
    font-size: 35px;
    letter-spacing: .2rem;
    margin: 0 0 15px 0;
}

.instructions {
    font-family: 'Ditty';    
    font-size: 20px;
    letter-spacing: .1rem;
}