.header-container {
    margin-bottom: 60px;
}

.header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    gap: 60px; 
    padding: 30px;  
    border-radius: 5px;
    background: rgba(255,236,207, 0.75);
    color: #403535;
}

.header-left {    
    height: 90px;
    text-align: left;
    margin-left: 15px;
}

.heading {
    font-family: 'Ditty';
    font-size: 35px;
    letter-spacing: .2rem;
    margin: 0 0 15px 0;
}

.instructions {
    font-family: 'Ditty';    
    font-size: 20px;
    letter-spacing: .1rem;
}

/* Mobile devices */
@media only screen and (max-width: 600px) {
    .header {
        gap: 30px;
    }
    .header-left {
        height: auto;
    }
}