#root {
  max-width: 1300px;
  margin: 0 auto;  
  text-align: center;
}

@font-face {
  font-family: 'Ditty';
  src: local('Ditty'), url(./fonts/Ditty.ttf) format('truetype');
}

p {
  margin: 0;
}

.app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
}