#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@font-face {
  font-family: 'Ditty';
  src: local('Ditty'), url(./fonts/Ditty.ttf) format('truetype');
}

p {
  margin: 0;
}